<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Добавляем айфон</h1>
            <form data-th-action="@{/addcola}" method="post">
                <div class="list-group">
                    <input type="text" name="price" placeholder="Цена">
                    <input type="text" name="name" placeholder="Имя">
                    <input type="text" name="shelfLIve" placeholder="Срок годности">
                    <input type="text" name="volume" placeholder="Обьем напитка">
                    <input type="text" name="taste" placeholder="Вкус">
                    <button>Добавить</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>